.keylight {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  width: 100%;
}

.metadata {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.lightSwitch {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
