.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;
  align-items: center;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, rgb(132, 198, 238), rgb(253, 162, 83));
  height: 0.5rem;
  border-radius: 1rem;
}

input[type='range']::-moz-range-track {
  background: orange;
  height: 0.5rem;
  border-radius: 1rem;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  border-radius: 50%;
  border-color: black;
  border-width: 0.1rem;
  border-style: solid;
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: color-mix(
    in srgb,
    #84c5ee calc(100% - var(--end-color-percentage, 0%)),
    #fda253 var(--end-color-percentage, 0%)
  );
  height: 1rem;
  width: 1rem;
}

input[type='range']::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 1rem;
}
